session.*
flycheck*
/emacs.d/straight/
!/emacs.d/straight/versions/ # line ignored by git, but still added for reference
emacs.d/abbrev_defs
emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/irony
emacs.d/network-security.data
emacs.d/projectile-bookmarks.eld
emacs.d/tramp
emacs.d/ensime
emacs.d/eshell
emacs.d/emojis/
/emacs.d/projectile.cache
/emacs.d/.trello
/emacs.d/request/
/emacs.d/forge-database.sqlite
/emacs.d/url/
