session.*
.emacs.d/url
.emacs.d/tramp
.emacs.d/projectile.cache
.emacs.d/abbrev_defs
.emacs.d/eshell
.emacs.d/projectile-bookmarks.eld
.emacs.d/.cask
.emacs.d/ac-comphist.dat
.emacs.d/image-dired/
.emacs.d/srecode-map.el
.emacs.d/var/
.emacs.d/.mc-lists.el
.emacs.d/prog/workbench.xmi
.emacs.d/general/custom.el
.emacs.d/smex-items
.emacs.d/jabber-history/
.emacs.d/ido.last
.emacs.d/elpa/
.cask/
.emacs.d/auto-save-list/
.emacs.d/.mc-lists.elc
.emacs.d/places
.emacs.d/bookmarks
.emacs.d/ensime
.emacs.d/network-security.data
.emacs.d/.org-id-locations
